
body {
    padding-top: 50px;
    
}
.container{
	height:90%;
	width:90%;
	
}
.li1 li:first-child {
	list-style-type:none;
	font-weight:bold;
	text-decoration: underline;
}
.formNew{
	margin-left:-20px;
	background-color: rgba(0,0,0,.7);
	border: 2px solid #ffffff;
	border-radius:25px;
	color:white;
	position:absolute;
	height:85%;
	width:90%;
}
.formNew2{
	margin-left:0px;
	background-color: rgba(0,0,0,.7);
	border: 2px solid #ffffff;
	border-radius:25px;
	color:white;
	width:97.5%;
}
.formNew3{
	margin-left:100px;
	background-color: rgba(0,0,0,.7);
	border: 2px solid #ffffff;
	border-radius:25px;
	color:white;
	width:87.5%;
}
.boxes{
	margin-left:35%;
}
.center{
	margin-left:60px;
}
.box2{
	margin-left:46%;
}

.body{
	  background-size: 100% 136%; 
	  background-repeat:no-repeat; 
	  background-image:url(@routes.Assets.at("skyline.jpg"));
}
