@(message: String, loginForm: Form[LoginForm])
@implicitFieldConstructor = @{ helper.FieldConstructor(twitterBootstrapInput.render) }

@main("Snake App Login") {
	
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid" style = "background-color:rgba(15,15,15,.9);">
                <a id="titleLink" class="brand" href="/create" style = "color:white; margin-left:90%;">CREATE USER</a>
            </div>
        </div>
    </div>

    <div class="container">
        

        @helper.form(action = routes.LoginApplication.checkUserPass(), 'class -> "well form-horizontal formNew") {
           <div class = "boxes">
	            @helper.inputText(loginForm("username"), '_label -> "Username")
	            @helper.inputPassword(loginForm("password"), '_label -> "Password")
	            <div class="controls">
	                <input type="submit" class="btn btn-primary center"/>
          		</div>
            </div>
        }

    </div>

}