@(message: String, scoreForm: Form[ScoreForm], username:String, score:String)
@implicitFieldConstructor = @{ helper.FieldConstructor(twitterBootstrapInput.render) }

@main("Time Tracker") {

    <div class="navbar navbar-fixed-top" >
        <div class="navbar-inner">
            <div class="container-fluid" style = "background-color:rgba(15,15,15,.9);">
                <a id="logOutLink" class="brand" href = "/" style = "color:white; margin-left:90%;">LOG OUT</a>
            </div>
        </div>
    </div>

    <div class="container">
        

        @helper.form(action = routes.Application.addScore(), 'class -> "well form-horizontal formNew2") {
            <div class = "boxes">
	            @helper.input(scoreForm("User")) { (id, name, value, args) =>
	   				 <input type="text" name="Name" style = "text-align:center;" id="name" value=@username @toHtmlArgs(args) readonly>
				} 	
				@helper.input(scoreForm("Score")) { (id, name, value, args) =>
	   				 <input type="text" name="Score" style = "text-align:center;" id="score" value=@score @toHtmlArgs(args) readonly>
				} 	
	            <div class="controls">
	                <input type="submit" class="btn btn-primary center"/>
	            </div>
            </div>
        }
        
	        
    </div>
    
    <div>
    	@helper.form(action = routes.Application.addScore(), 'class -> "well form-horizontal formNew3"){
    		<div class = "box2">
	    		<h3 style = "margin-left: -7%;"> PERSONAL LEADERBOARD </h3>
			    <ol   class = "li1 " id="yourTimes" start = "0" style =  "margin-left:8%; list-style-type: decimal;">
			        <li> Score </li>
			    </ol>
	    		
	    		<h3 style = "margin-left: -6%;"> GLOBAL LEADERBOARDS </h3>
		   		<ol class = "li1" id="users" start = "0" style = "display: inline-block; list-style-type: decimal;">
			        <li> Name </li>
			        
			    </ol>
			    <ul class = "li1" id="times" style = "display: inline-block; list-style-type: none;">
			        <li> Score </li>
			        
			    </ul>
		    </div>
			  
	    }
    </div>

}